<footer>
  <div class="crm-footer-list">
    <div class="crm-footer-logo">
      <div class="footer-logo">
        <img class="crm-footer-angular-logo"
          src="../../../../assets/img/angular-white-transparent.svg"
          alt="Angular icon">
        <span><a href="https://angular.io">LogiGear CRM</a></span>
      </div>
    </div>

    <div class="crm-footer-version">
      <img class="angular-material-logo" src="../../../assets/img/angular-material-logo.svg"
           alt="Angular Material icon">
      <span class="version">Current Version: 1.0.0</span>
    </div>

    <div class="crm-footer-copyright">
      <div>
        <span>Powered by LogiGear ©2021.</span>
      </div>
    </div>
  </div>
</footer>
