.carousel-point-list {
  list-style-type: none;
  text-align: center;
  padding: 12px;
  margin: 0;
  white-space: nowrap;
  overflow: auto;
  box-sizing: border-box;

  li {
      display: inline-block;
      border-radius: 50%;
      border: 2px solid rgba(0, 0, 0, 0.55);
      padding: 4px;
      margin: 0 3px;
      transition-timing-function: cubic-bezier(.17, .67, .83, .67);
      transition: .4s;

      &.active {
          background: #6b6b6b;
          transform: scale(1.2);
      }
  }

}